/* global styles */

.MuiButton-containedPrimary {
    background-color:  #800074 !important;
    border: 1px solid #800074 !important;
    border-radius: 32px !important;
}

.MuiButton-outlinedPrimary {
    color:  #800074 !important;
    border: 1px solid #800074 !important;
    border-radius: 32px !important;
}

/* End global styles */

/* Icons */
.html svg{
    fill: #ff714d;
    
}
.css svg{
    fill: #2761e0;
}
.node svg{
    fill: rgb(17, 90, 17);
}
.db svg{
    fill: #aaa4a3;
}
.git svg{
    fill:#ff714d
}
.react svg{
    fill:rgb(64, 146, 201)
}
.azure svg{
    fill: #617cb6;
}
.js svg{
    fill: #d0d008;
}
.social-icons svg{
    width: 42px;
    height: 36px;
    padding-left: 20px;
}

/* End Icons */

/* Containers */

.navigation-container{
    position: fixed;
    padding: 0rem 1rem 1rem 1rem;
    top: 0;
    width: 100%;
}

.container-common{
    padding:10rem 1rem 1rem 1rem;;
    min-height: 70vh;
}

.footer-container{
    padding: 0rem 1rem 1rem 1rem;;
}
.container{
    margin: auto;
    max-width: 1100px;
    width: 100%;
    display: flex;
    padding: 0.5rem 0.2rem;
}

.skill-container{
    background-color: #f3f4f6;
    text-align: center;
    margin: auto;
    max-width: 1100px;
    width: 100%;
    display: flex;
    padding: 0.5rem 0.2rem;
}

.blog-container{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
}

.blog-section:nth-child(even){
    align-items: center;
    display: flex;
    min-height: 20vh;
    box-shadow: 1px 2px #ede8e8;
    border-radius: 4px 5px;
    padding: 26px 44px;
    text-align: center;
    margin: 20px 0px;
    flex-direction: column;
}
.blog-section:nth-child(odd){
    align-items: center;
    display: flex;
    min-height: 20vh;
    background: #dddddd7a;
    box-shadow: 1px 2px #ede8e8;
    border-radius: 4px 5px;
    padding: 26px 44px;
    text-align: center;
    margin: 20px 0px;
    flex-direction: column;
}

.social-icon-container{
    display: flex;
    justify-content: center;

}

/* End Containers */




/* Content Section */

.nav-content{
    margin: 10px 7vh;
    font-size: 1.1rem;
    float: right;
}

.nav-content:hover{
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;;
}

.introImg{
    height: auto;
    width: 90%;
}
.blogsImg{
    width: 40%; 
    height: auto;
}
.aboutme-content{
    padding: 0rem 1.5rem;
}
.sub-heading{
    font-size: 1.2rem;
}

.content-container{
    text-align: center;
    padding: 10% 0%;
}

.footer-text{
    color: white;
    padding: 24px 0px;;
    font-size: 20px;
}
/* End Content Section */

.nav{
    padding: 5vh 5vw;
    min-height: 10vh;
    background-color: #800074;
    border-radius: 0px 0px 20% 20%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}  

.text-greet{
    font-size: 1.5rem;
    font-weight: bolder;
}

.text{
    color: darkgray;
}

.pink-text{
    color: #C13EB5;
}

.blog-link{
    color: #C13EB5;
}
.description{
    max-width: 600px;
}
.portfolio-button{
    margin-right: 30px;
}

.list-items{
    line-height: 22px;

}

.skills-flex{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.skill{
    flex: 1 0 21%;
}

.icons svg{
    padding: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 70px;
    width: 72px;
}

.projects{
    display: block;
    text-align: center;
}

.flex-items{
    display: flex;
}
.brand{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 2px 1px #302f2f;
}
.brand:hover{
    height: 70px;
    width: 70px;
}

/* Footer */
.footer{
    text-align: center;
    padding: 2vh;
    min-height: 25vh;
    background-color: #800074;
    border-radius: 7% 7% 0% 0%;
}

.footer-regards-msg{
    float: left;
    padding: 2vw;
    font-size: larger;
    color: #E5E5E5;
    font-weight: bold;
}

.footer-social-links{
    text-align: center;
    padding: 16px 0px;
    color: white;
}

/* Footer End */

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer-container, .navigation-container{
        min-width: 100%;
        padding: 0;
    }
    .container-common,.container,
    .content-container,.skill-container,
    .projects,.skills-flex,.flex-items{
        display: flex;
        flex-direction: column;
    }
    .portfolio-button{
        margin-top: 20px;
    }
}

/* When the width is between 600px and 1200px  */
@media screen and (max-width: 1200px) and (min-width: 600px)
{
    .footer-container, .navigation-container{
        min-width: 100%;
    }
}
