body {
  margin: 0;
  font-family:monospace,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#CAD2C5;
}
a{
  text-decoration: none;
  color: #744b99;
}
a:hover{
  font-weight: bold;
  color:#52796F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
