body {
  margin: 0;
  font-family:monospace,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FFFFFF;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
a:hover{
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

